:root {
  --main-font: "Verdana", Geneva, "Tahoma", sans-serif;
  --secondary-font: Georgia, "Times New Roman", Times, serif;

  --primary-color: #071c29;
  --secondary-color: #ffc900;
  --accent-color: #f0f0f0;

  font-size: 16px;
  line-height: 24px;
  font-weight: 300;

  color-scheme: light dark;
  color: var(--accent-color);
  background-color: #8b9499;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.menu-link {
  color: var(--primary-color);
  font-family: var(--main-font);
  font-size: 1rem;
}

.header {
  width: 100%vw;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 1rem;
}

.header .header-text {
  font-family: var(--secondary-font);
  font-size: 2rem;
  color: var(--secondary-color);
}

.footer {
  width: 100%vw;
  background-color: var(--primary-color);
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 0.75rem;
  padding: 0.5rem;
}

.home-page {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/amusement-park.jpg);
  background-position: center;
  background-size: cover;
}

.home-page .title {
  font-family: var(--secondary-font);
  font-size: 2rem;
  color: var(--accent-color);
}

.welcome-text {
  width: 50%;
  height: auto;
  background-color: var(--primary-color);
  border-radius: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 1rem;
  text-align: center;
}

.contact-page {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/carousel.jpg);
  background-position: center;
  background-size: cover;
}

.contact-page .title {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 3rem;
  color: var(--accent-color);
}

.contact-info {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: auto;
  border-radius: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 1rem;
}

.events-page {
  width: 100vw;
  height: auto;
  background-color: #8b9499;
  background-image: linear-gradient(to top right, #fff89a, #ffc900);
}

.search-label {
  font-family: var(--main-font);
  font-size: 1rem;
  color: var(--primary-color);
}

.search-modal {
  width: 75%;
  height: auto;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #f0f0f0;
  text-align: center;
  font-family: var(--main-font);
  font-size: 1rem;
  color: var(--primary-color);
}

.modal-list {
  list-style-type: none;
}

.add-event-form {
  margin: 1rem;
}

.event-page {
  width: 100vw;
  height: 100vh;
  background-color: #8b9499;
  background-image: linear-gradient(to top right, #fff89a, #ffc900);
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.nav-link {
  font-family: var(--main-font);
  font-size: 1rem;
}
